# .gitignore
.venv/
api/__pycache__/
__pycache__/
*.pyc
.ipynb_checkpoints/
datasets/
training_instruction.rtf
report/

# C-sharp and Visual Studio
ClassificationApi/ClassificationApi/bin/*
ClassificationApi/ClassificationApi/obj/*
ClassificationApi/ClassificationApiTests/bin/*
ClassificationApi/ClassificationApiTests/obj/*
ClassificationApi/TestResults/*
ClassificationApi/.vs